<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="oauth2header" type="NameBright.DomainApi.Soap.OAuth2Helpers.OAuth2HeaderBehaviorExtensionElement, NameBright.DomainApi.Soap, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </behaviorExtensions>
      </extensions>

      <behaviors>
        <endpointBehaviors>
          <behavior name="OAuth2HeaderBehavior">
            <oauth2header />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
      <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IDomainService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.namebright.com/soap/DomainService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDomainService"
                contract="NameBrightDomainApi.IDomainService" name="BasicHttpsBinding_IDomainService" 
                behaviorConfiguration="OAuth2HeaderBehavior" />
        </client>
    </system.serviceModel>
</configuration>