<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="oauth2header" type="NameBright.DomainApi.Soap.OAuth2Helpers.OAuth2HeaderBehaviorExtensionElement, NameBright.DomainApi.Soap, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </behaviorExtensions>
      </extensions>

      <behaviors>
        <endpointBehaviors>
          <behavior name="OAuth2HeaderBehavior">
            <oauth2header />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpsBinding_IDomainManagement">
            <security mode="Transport" />
          </binding>
          <binding name="BasicHttpsBinding_IDomainPurchasing">
            <security mode="Transport" />
          </binding>
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="https://api.namebright.com/soap/DomainManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDomainManagement"
                contract="NameBrightDomainManagement.IDomainManagement" name="BasicHttpsBinding_IDomainManagement"
                behaviorConfiguration="OAuth2HeaderBehavior"/>
            <endpoint address="https://api.namebright.com/soap/DomainPurchasing.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDomainPurchasing"
                contract="NameBrightDomainPurchasing.IDomainPurchasing" name="BasicHttpsBinding_IDomainPurchasing" 
                behaviorConfiguration="OAuth2HeaderBehavior"/>
        </client>
    </system.serviceModel>
</configuration>